html, body, div, span,h1, h2, h3, h4, h5, h6, p,
a, em, img, q, s, small, strong,b, u, i,dl, dt, 
dd, ol, ul, li,form, label,table, caption, tbody,
tfoot, thead, tr, th, td,article,footer, header, 
menu, nav,section, time, audio, video,button ,textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Microsoft YaHei";
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1.2
}
a{ 
	display: inline-block;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{
	clear: both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfloat{zoom:1;}
.clearfloat:after{
	display:block;
	clear:both;
	content:"";
	overflow:hidden;
	height:0;
}
.spill{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}
.multiSpill{
	word-break:break-all;
   text-overflow:ellipsis;
   display:-webkit-box;
   -webkit-box-orient:vertical;
  /* -webkit-line-clamp:3;*/
   overflow:hidden;
}
label{
	cursor:pointer;
}
input {
	-webkit-appearance:none;
	-moz-appearance:none;
 	cursor:pointer;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Microsoft YaHei";
	font-weight: normal;
	vertical-align: baseline;
	text-decoration: none;
}
textarea{ 
	-webkit-appearance:none;
	-moz-appearance:none;
}   
input:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
select:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
textarea:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
button:focus{
	outline:none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.wrapper{
	 min-width:1600px;
	 max-width:1920px;
}
.container img{
 	display:block;
}
button{
	cursor:pointer;
}
select{
	cursor:pointer;
}
input type:checkbox{
	cursor:pointer;
}
input type:radiobox{
	cursor:pointer;
}
.statusMain{
	padding-top:0px;	
}
.statusMainRight {
	padding-left:0px;
}
.leftSection {
	position:fixed;
	left:0;
	height:100%;
	background:#232322;
	width:50px;
	z-index:9999;
	top:57px;
}
.nice-select ul{
	 width: 100%;
	 display: none;
	 position: absolute;
	 left: 0px;
	 margin-top:6px;
	 overflow: hidden;
	 background-color: #fff;
	 max-height: 150px;
	 overflow-y: auto;
	 border: 1px solid #CFCFCF;
	 z-index: 100;
	 box-shadow: 0 1px 6px 0 rgba(0,0,0,0.15);
	 border-radius: 3px;
}
.nice-select ul li:hover{
	background: #ECECEC;
}
.nice-select ul li{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	padding: 0 10px !important;
	cursor: pointer;
	font-size: 14px;
	color: #222222;
	width:100%;
}
.nice-select{
	width: 100%;
    height: 40px;
    line-height: 22px;
    position: relative;
    background: #fff url(../images/arrowmap.png) no-repeat 97% 53%;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
}
.nice-select input{
	display: block;
	width: 100%;
	height:16px;
	line-height:normal;
	border: 0;
	outline: 0;
	background: none;
	font-size:14px;
	color:#696969;
	cursor:pointer;
	padding: 12px 8px;
}
form input {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    padding-left: 10px;
    color: #ccc;
}
.nice-select input::-webkit-input-placeholder{
  font-size: 14px;
  color: #696969;
}
/*checkbox starts*/
.radioOne input[type=checkbox]{
	width:12px;
	height:12px;
	margin: 0;
	padding: 0;
	opacity: 0;
	display: inline-block;
	margin-left:-12px;
}
.radioOne input[type=checkbox]:checked + label:before {
 	content: "";
    background:url(../images/checkboxclick.png) no-repeat;
 	width:12px;
 	height:12px;
 	background-size:100% 100%;
 	display: block;
	margin: 5px 0px;
}
.radioOne input[type=checkbox] + label:before {
    content: "";
    width: 12px;
    height: 12px;
    background:url(../images/checkboxbtn.png) no-repeat;
    display: block;
    float: left;
    margin: 5px 0px;
    background-size: 100% 100%;
 	cursor:pointer;
}
/*checkbox ends*/
/*radio starts*/
.radioOne input[type=radio]{
	width:12px;
	height:12px;
	margin: 0;
	padding: 0;
	opacity: 0;
	display: inline-block;
	margin-left:-12px;
}
.radioOne input[type=radio]:checked + label:before {
 	content: "";
    background:url(../images/radioclick.png) no-repeat;
 	width:12px;
 	height:12px;
 	background-size:100% 100%;
 	display: block;
	margin: 5px 0px;
}
.radioOne input[type=radio] + label:before {
    content: "";
    width: 12px;
    height: 12px;
    background:url(../images/radiobtn.png) no-repeat;
    display: block;
    float: left;
    margin: 5px 0px;
    background-size: 100% 100%;
 	cursor:pointer;
}
/*radio ends*/
/*common popup for history and map starts*/
.popUpTwo {
    width: 100%;
    height: 100%;
    background: rgba(42, 45, 43, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 55555;
	display: none;
	overflow-y:scroll;
}
.popUpTwo .popContent {
    width: 75%;
    position: absolute;
    margin: 0 auto;
    background-color: #2a2d2b;
    left: 0;
    right: 0;
    top: 3%;
    padding: 65px 0px;
    border-radius: 8px;
    border: 1px solid #262927;
    box-shadow: 1px 2px 18px #141514;
}
.popUpTwo .close {
    width: 11px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.popUpTwo .tabTwo ul li {
    float: left;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}
.popUpTwo .tabTwo ul li img {
    opacity: 0.2;
}
.popUpTwo .tabTwo ul li.TabbedPanelsTabSelected img {
    opacity: 1;
}
.popUpTwo .popSecNew {
    border-right: 4px solid #373937;
    position: relative;
    padding-bottom: 100px;
}
.popUpTwo .popSecNew ul {
    border-radius: 5px 0px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
}
.popUpTwo .popSecNew h1 {
    color: #898989;
    font-size: 14px;
    word-spacing: 20px;
    padding: 0px 0px 100px 10%;
}
.popUpTwo .popSecNew h1 span {
    color: #ffffff;
}
.popUpTwo .popSecNew ul li {
    font-size: 14px;
    color: #a3aca3;
    background-color: #4a544e;
    width: 36%;
    outline: none;
    padding: 2px 0px;
    float: left;
    text-align: center;
    letter-spacing: 4px;
    cursor: pointer;
}
.popUpTwo .popSecNew ul li:nth-child(1) {
    border-radius: 8px 0px 0px 8px;
}
.popUpTwo .popSecNew ul li:nth-child(2) {
    border-radius: 0px 8px 8px 0px;
}
.popSecNew ul li.TabbedPanelsTabSelected {
    background-color: #08e671;
    color: #fff;
}
.popUpTwo .popSecLast h1 {
    font-size: 16px;
    color: #757675;
}
.popUpTwo .seet {
    width: 45%;
    float: left;
    margin: 50px 7% 0px 0px;
}
.popUpTwo .seet:nth-child(2n+2) {
    margin-right: 0;
}
.popUpTwo .popSecNew {
    width: 40%;
}
.popUpTwo .popSecLast {
    width: 50%;
    padding-left: 6%;
}
.popUpTwo .secFirst {
    width: 100%;
    margin: 40px auto 0 auto;
    position: relative;
}
.popUpTwo .mob {
    width: 40%;
    margin: 0 auto;
}
.popUpTwo .cap {
    position: absolute;
    bottom: 2px;
    background: rgba(0, 0, 0, 0.68);
    width: 99.2%;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 10px 0px;
    z-index: 1;
    border: 1px solid #2a2d2b;
    border-radius: 0px 0px 6px 6px;
}
.popUpTwo .cap h1 {
    font-size: 14px;
    color: #fff;
    margin-left: 3%;
}
.popUpTwo .cap h2 {
    font-size: 12px;
    color: #fff;
    margin-left: 4%;
}
.popUpTwo .cap h2 span {
    font-size: 12px;
    color: #fff;
    color: #a0a0a0;
}
.popUpTwo .ar {
    margin-right: 2%;
    opacity: .5;
}
.popUpTwo .secSecond .setRep {
    float: left;
    width: 30%;
    margin: 30px 0% 0px 5%;
}
.popUpTwo .secSecond .setRep:nth-child(3n+1) {
    margin-left: 0;
}

/*common popup for history and map ends*/

/*button states starts*/

.deauft{
	background-color: #fff !important;
	color: #b2b2b2 !important;	
}
.successed{
	background-color: #08e671 !important;
	color: #fff !important;	
}
.callagain{
	background-color: #fd7d00 !important;
	color: #fff !important;		
}
.calling{
	background: #fff url(../images/btbbg.png) no-repeat !important;
	background-position:6% center !important;
	padding: 4px 0px 4px 2% !important;	
}

/*button states ends*/
/*MapPop starts*/
.MapPop .mainBox {
	width:600px;
	padding:38px 40px;
	border-radius:8px;
	position:relative;
	min-height:424px;
}
.MapPop .boxMain{
	background: #fff;
	-webkit-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
	box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
}
.MapPop .mainBox h1{
	color:#0c0c0c;
	font-size:18px;
	line-height:30px;
}
.MapPop .firstSet{
	background:#f4f4f4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.MapPop .firstSet li{
	float:left;
	color:#bbb;
	font-size:12px;
	width:100px;
	text-align:center;
	padding:8px 0px;
}
.MapPop .firstSet .active{
	background:#08e671;
	color:#fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #08e671;
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.08);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.08);
	box-shadow: 0 4px 4px rgba(0,0,0,.08);
}
.MapPop .textSet{
	font-size:14px;
	color:#0c0c0c;
	margin-top:14px;
}
.MapPop .fLeft{
	width:200px;
}
.MapPop .sLeft{
	width:180px;
}
.MapPop .rLeft{
	width:220px;
}
.MapPop .textSet span{
	padding-left:8px;
}
.MapPop .arrowSet span{
	display:inline-block;
	margin-right:10px;
	width:11px;
}
.MapPop .hTwo{
	color:#747474;
	font-size:14px;
	margin:55px 0px 10px 0px;
}
.MapPop .greenUl{
	width:100%;
	border-bottom:1px solid #dedede;
}
.MapPop .greenUl li{
	width:29.3%;
	float:left;
	font-size:16px;
	color:#141414;
	padding:19px 0px 19px 24px;
}
.MapPop .arrowSet .greenUl:hover {
	background:#f1fef6;
	cursor:pointer;
}
.MapPop .arrowSet .greenUl:nth-child(2){
	background:#fff;
	cursor:default;
}
.MapPop .arrowSet .greenUl:nth-child(2){
	border-bottom:2px solid #dedede;
}
.MapPop .arrowSet .greenUl:nth-child(4){
	border:0;
}
.MapPop .blueText{
	color:#436bff !important;
	cursor:pointer;
}
.MapPop .textmet{ 
	margin-top:32px;
}
.MapPop .close{
	width:11px;
	position: absolute;
    right: 10px;
    top: 10px;
	cursor:pointer;
}
.MapPop .TwoIn{
	margin:40px 0px 20px 0px;
}
.MapPop .TwoIn h3{
	font-size:14px;
	color:#0c0c0c;
	line-height:20px;
}
.MapPop .texta{
	background:#f4f4f4;
	min-height:68px;
	padding:5px;
	width:493px;
	font-size:14px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.MapPop .mySelect{
	width:240px;
	display: flex;
    align-items: center;
    margin: 1px 0;
}
.MapPop .mySelect .nice-select {
    height: 18px;
    line-height: 18px;
}
.MapPop .mySelect .nice-select input {
    height: 14px;
    font-size: 12px;
    padding: 2px 8px;
}
.MapPop .radioOne label{
	color:#0c0c0c;
	font-size:14px;
}
.MapPop .leftRadio{
	width:122px;
}
.MapPop .rightRadio{
	width:95px;
}
.MapPop .ipmap{
	font-size:12px;
	color:#a7a7a7;
	width:160px;
	background:#f4f4f4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px 0px;
}
.MapPop .ipmap::-webkit-input-placeholder {
 	font:12px;
	color:#a7a7a7;
	padding-left:12px;
}
.markBtn{
	background:#fff;
	border:1px solid #d8d8d8;
	border-radius:10px;
	width:114px;
	padding:8px 0px;
	color:#08e671;
	font-size:14px;
	margin-top:50px;
}
.markBtn .mrkPic{
	width:16px;
	display:inline-block;
	padding-right: 11px;
    vertical-align: middle
}
.markBtnOne{
	background:#fff;
	border:1px solid #d8d8d8;
	border-radius:10px;
	width:114px;
	padding:8px 0px;
	color:#08e671;
	font-size:14px;
	margin-top:50px;
}
.markBtnOne .mrkPic{
	width:16px;
	display:inline-block;
	padding-right: 11px;
    vertical-align: middle
}
.MapPop .mainThree h3{
	text-align:center;
	padding: 187px 0px;
	font-size:14px;
	color:#595959;
}
.MapPop .mainThree h3 a{
	color:#0c0c0c;
	padding:0px 9px;
}
.MapPop .fivz{
	color:#0c0c0c;
	font-size:24px;
	padding-right:8px;
}
.MapPop .videoSet{
	margin-top:36px;
	width:600px;
}
.MapPop .statusPopup .setOne {
	margin-top:20px;
}
.MapPop .statusPopup h1{
	color:#0c0c0c;
	font-size:14px;
}
.MapPop .setOne textarea {
	width:507px;
	background:#f4f4f4;
	min-height:122px;
}
.MapPop .setOne button {
	color:#fff;
	font-size:14px;
	padding:14px 40px;
	background:#436bff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:15px;
}
.MapPop .setOne .radioOne{
	margin:0 90px 20px 0;
}
.MapPop .setOne .radioOne:nth-child(4n+4){
	margin-right:0;
}
.MapPop .setOne .checkSet {
	width:530px;
}
.MapPop .setOne .smallText {
	color:#747474;
}
.MapPop .setOne .checkSetMain {
	padding:4px 30px;
}
.statusPopOne {
	display:none;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	z-index:100;
}
.statusPopOne .statusPop {
	position: absolute;
	z-index:100;
    top: 142px;
    width: 90%;
    left: 50%;
    margin-left: -717px;
    padding: 45px 35px;
    background:#fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    border-radius: 10px;
}
.statusPopOne .close{
	width:11px;
	position: absolute;
    right: 10px;
    top: 10px;
	cursor:pointer;
}
.statusPopOne h1{
	color:#0c0c0c;
	font-size:18px;
	margin-bottom:30px;
	letter-spacing:2px;
}
.statusPopOne  .scroll {
	max-height:450px;
	width:270px;
	background:-webkit-linear-gradient(#fff, #fff,#fff,#fff,#fff,#fff,#fff, #f6f6f6);
	background: -o-linear-gradient(#fff, #fff,#fff,#fff,#fff,#fff,#fff, #f6f6f6);
    background: -moz-linear-gradient(#fff, #fff,#fff,#fff,#fff,#fff,#fff, #f6f6f6);
    background: linear-gradient(#fff, #fff,#fff,#fff,#fff,#fff,#fff, #f6f6f6);
}

.statusPopOne   .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff !important;
}
.statusPopOne   .mCSB_scrollTools .mCSB_dragger {
    background-color: #eee !important;
 	opacity: 1 !important;
}
.statusPopOne   .mCSB_scrollTools .mCSB_draggerContainer {
	 background-color: #eee;
    opacity: 1 !important;
}
.statusPopOne   .mCSB_scrollTools{
	opacity:1 !important;
}
.statusPopOne   .mCSB_draggerRail {
    background-color: #fff !important;
    position: relative;
 	opacity: 1 !important;
 	width: 6px !important;
  
}
.statusPopOne   .mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
 	width: 6px !important;
 	opacity: 1 !important;
 	-webkit-border-radius: 100px !important; 
    -moz-border-radius: 100px !important;
    border-radius: 1000px !important; 
}
.statusPopOne  .scroll .nice-select{
	background:#f4f4f4;
	width: 170px;
	height:20px;
	line-height:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 4px 6px rgba(38,18,1,.12);
	-moz-box-shadow: 0 4px 6px rgba(38,18,1,.12);
	box-shadow: 0 4px 6px rgba(38,18,1,.12);
	background:#f4f4f4 url(../images/mapselect.png) no-repeat 100% 50%;
	margin-bottom:15px;
}
.statusPopOne  .scroll .nice-select input {
	font-size:12px;
	height:14px;
}
.statusPopOne  .scroll table {
	width:230px;
}
.statusPopOne  .scroll thead th{
	color:#141414;
	font-size:16px;
	padding:20px 0 20px 3px;
	text-align:left;
	width:30%;
}
.statusPopOne .radioOne input[type=checkbox] + label:before{
	margin:1px 0;
}
.statusPopOne  .scroll thead tr{
	border-bottom:2px solid #dedede;
}
.statusPopOne  .scroll thead th:first-child{
	color:#b2b2b2;
	font-size:12px;
	width:20%;
}
.statusPopOne  .scroll tbody tr{
	border-bottom:1px solid #ebebeb;
}
.statusPopOne  .scroll tbody tr:hover{
	cursor:pointer;
	background:#f1fef6;
}
.statusPopOne  .scroll td{
	padding:20px 0 20px 3px;
	color:#141414;
	font-size:14px;
}
.statusPopOne .scrollRight {
	width:280px;
}
.statusPopOne .scrollRight .setTwo {
	margin-bottom:30px;
}
.statusPopOne .scrollRight .setTwo h2{
	color:#0c0c0c;
	font-size:14px;
	line-height:20px;
}
.statusPopOne .scrollRight .setTwo textarea{
	background:#f4f4f4;
	width:195px;
	height:88px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
}
.statusPopOne .scrollRight .setTwo .nice-select{
	width:180px;
}
.statusPopOne  .setTwo label {
	font-size:14px;
	color:#0c0c0c;
}
.statusPopOne  .setTwo label input{
    background: #f4f4f4;
    color: #a7a7a7;
    font-size: 12px;
    height: 14px;
    width: 138px;
    padding: 2px 11px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.statusPopOne .arrow-up {
 	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14px solid #fff;
    position: absolute;
    top: -13px;
    right: 73px;
}
/*button classes*/
.grnBtn{
 	background-color: #08e671 !important;
 	color: #fff !important; 
}
.orgBtn{
 	background-color: #fd7d00 !important;
 	color: #fff !important;  
}
.loadBtn{
 	background: #fff url(../images/btbbg.png) no-repeat !important;
 	background-position:6% center !important;
 	padding: 4px 0px 4px 2% !important; 
}
/*MapPop ends*/
.statusGreen {
	display:inline-block;
	width:12px;
	min-height:12px;
	background:#08e671;
	margin-right:10px;
	border-radius:100%;
	vertical-align:middle;
}
/*sidebar*/
.sidebar-menu .leftMenu {
	display:block;
	background:url(../images/leftmenu.png) no-repeat;
	width:24px;
	height:18px;
}
.sidebar-icon {
	display:block;
	padding: 17px 13px 15px 13px;
    background: #08e671;
}
.sidebar-menu .leftMenu.cross {
	background:url(../images/leftmenucross.png) no-repeat;
	width:24px;
	height:18px;
}
.menuList li:nth-child(2){
	position:relative;
}
.menuList li a.orgRound{
	display:inline-block;
	position:absolute;
	top: 19px;
    left: 36px;
	width:6px;
	height:6px;
	background:#fd7d00;
	border-radius:100%;
	padding:0;
}
.menuList li {
	font-size:18px;
	color:#ffffff;
	text-align:center;
}
.menuList li i{
	float:left;
	display:inline-block;
	vertical-align:middle;
	width:24px;
}
.menuList li a {
  	padding: 16px 21px 16px 14px;
  	font-size:18px;
	color:#ffffff;
	width:86%;
}
.menuList li a.menuOneLink {
	padding:20px 0;
	width:100%;
}
.menuList li a.menuOneLink i{
	float:none;
}
.menuIcon {
	display:none;
	float:right;
	background:url(../images/leftmenuarrow.png) no-repeat;
	width:10px;
	height:8px;
	margin:8px 0;
}
.leftArrow{
	background:url(../images/leftmenuarrowone.png) no-repeat;
	width:10px;
	height:8px;
}
.menuList li a .leftText{
	display:inline-block;
	vertical-align:middle;
	font-size:17px;
	letter-spacing:1.5px;
}
.menu {
	background:rgba(0,0,0,.9);
	width:250px;
	position:fixed;
	height:100%;
	z-index:1000;
}
.menuList li a:hover {
  background-color: #333;
  color:#fff;
  opacity:1;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.menuList li a.active {
  background-color: #333;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.menuList li a.menuOneLink:hover{
	 background-color: #333;
  	 transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.menuList  li.active > a {
  background-color: #2b303a;
  color: #ffffff;
}

.menuList ul li a{
	background:none;
	opacity:.4;
	
}
.menuListOne ul{
	display:none;
}
.menuList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.menuMain{
	width:50px;
	transition: all 100ms linear;
}
.menuList  .leftText.menuMainSpan{
	opacity:0;
	display:none;
}