@charset "utf-8";
/* CSS Document */
.header img {
	 width:100%;
	 display:block;
}
.header {
	 position:fixed;
	 top:0;
	 width:100%;
	 background:#fff;
	 z-index:10;
}
.header .headerMain {
 	padding:20px 73px 12px 73px;
}
.header .logo {
	 width:106px;
	 display:block;    padding-top: 12px;
}
.header ul li a {
	 font-size:16px;
	 color:#8f8f8f;
	 padding:8px 0 12px 0;
}
.header ul li {
	 float:left;
	 margin-left:40px;
}
.header ul li span {
 	font-size:14px;
}





