@charset "utf-8";
/* CSS Document */
/*containerMap starts*/

html,
body,
.container {
    height: 100%;
	overflow:hidden;
}
.containerMap {
    background:url(../images/bgmap.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}
 .arrow-Map {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 20px solid #fefefe;
    position: absolute;
    position: absolute;
    left: -20px;
    bottom: 59px;
}
 .mapHed {
    background: #fefefe;
    padding: 13px 0px;
}
 .niceOne {
    width: 195px;
    margin: 2px 0px;
}
 .niceOne .nice-select {
    width: 140px;
}
 .rightmap li {
    float: left;
}
 .rightmap li a {
    color: #747474;
    font-size: 14px;
    padding: 0px 18px;
    border-right: 1px solid #565656;
}
 .rightmap li:last-child a {
    border: none;
}
 .lastButton {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #b2b2b2;
    padding: 5px 17px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    -moz-box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
    box-shadow: 0 4px 6px rgba(38, 18, 1, .12);
}
 .lastButtonOne {
    margin-right: 1%;
}
 .rightmap {
    margin: 3px 0px;
}
 .grnBtn {
    background-color: #08e671 !important;
    color: #fff !important;
}
 .rightSet {
    margin-top: 50px;
    min-height: 720px;
    width: 620px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    position: absolute;
    right: 3%;
    display: none;
}
 .mainRightMap .closez {
    width: 11px;
    position: absolute;
    right: 13px;
    top: 8px;
    cursor: pointer;
}
 .mainRightMap .TabbedPanelsTabGroup {
    margin-bottom: 36px;
}
 .mainRightMap .TabbedPanelsTab {
    color: #747474;
    font-size: 18px;
    float: left;
    width: 88px;
    margin-right: 40px;
    cursor: pointer;
    outline: none !important;
    padding: 13px 0px;
}
 .mainRightMap .TabbedPanelsTabSelected {
    color: #1a1a1a;
    border-bottom: 4px solid #c2e3ae;
}
 .selectMy {
    width: 250px;
    margin-bottom: 10px;
}
 .selectMy .nice-select {
    width: 140px;
}
 .mainTable table {
    width: 100%;
}
 .mainTable tr th {
    color: #141414;
    font-size: 16px;
    text-align: left;
    width: 13%;
    padding: 20px 0px;
}
 .mainTable tr {
    padding-left: 22px;
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    transition: all .2s;
}
 .mainTable tr td {
    color: #141414;
    font-size: 14px;
    text-align: left;
    width: 16%;
    display: flex;
    align-items: center;
	padding: 14px 0px;
}
 .mainTable tr td:nth-child(1) {
    display: block;
}
 .hoverz tr:hover {
    background: #f1fef6;
    transition: all .2s;
}
 .mainTable tr td .number {
    font-size: 12px;
    color: #7f7f7f;
    display: block;
}
 .mainTable tbody tr {
    min-height:58px;
	width:91.6%;
}
 .mainTable thead tr th{
    width:12.5%;
}
 .mainTable .addtr th{
    width:17%;
}
 .aone {
    font-size: 14px;
    margin-bottom: 10px;
    color: #747474;
}
 .mainRightMap .arrow-up {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 18px solid #fff;
    position: absolute;
    top: -17px;
    left: 138px;
}
 .statusMainInSec {
    background: rgba(255, 255,255,.9);
    padding: 14px .5% 14px 5.5%;
    position: fixed;
    width: 94%;
    top: 71px;
	z-index:11;
}
 .threeest {
    margin-top: 50px;
    min-height: 320px;
    width: 350px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    display: none;
	position: absolute;
    top: 10%;
    right:160px;
}
 .threeest .TabbedPanelsTab {
    margin-right: 28px;
}
 .threeest .nice-select {
    width: 223px;
}
 .threeest .selectMy {
    width: 303px;
    margin: 20px auto 0 auto;
}
 .threeest .greenBtn {
    width: 130px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #08e671;
    color: #fff;
    padding: 13px 0px;
    margin-top: 43px;
	letter-spacing:5px;
}
 .threeest .addCl {
    margin-top: 80px;
}
 .addCl .greenBtn {
    margin-top: 79px;
}
 .threeest .myRadio {
    margin-top: 23px;
}
 .threeest .leftRadio {
    margin-right: 35px;
}
 .fiveCntz {
    display: none;
}
 .fourest {
    margin-top: 50px;
    min-height: 710px;
    width: 560px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    position: absolute;
    right: 3%;
    display: none;
}
 .fourest .arrow-up {
    left: 272px;
}
 .arrowDw {
    background: url(../images/mapdown.png) no-repeat 4px 3px;
    width: 19px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 53px;
}
 .fourest table {
    width: 94.5%;
}
 .fourest table thead tr{
	 background:#fff;
 }
 .fourest table th {
    text-align: left;
    padding: 17px 0px 17px 0px;
}
 .fourest table tbody tr:first-child {
    border-top: 2px solid #dedede;
}
 .fourest table tbody tr {
    width: 100%;
	background: #f4f4f4;
    border-bottom: 1px solid #dedede;
}
 .fourest table td {
    font-size: 14px;
    color: #141414;
    padding: 15px 0px;
    width: 22%;
}
 .sixest {
    margin-top: 47px;
    width: 560px;
    padding: 40px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 32px 4px rgba(0, 0, 0, .2);
    position: absolute;
    right: 436px;
    display: none;
}
 .sixest .arrow-up {
    left: 70px;
}
 .fourest table .radioOne {
    width: 16%;
	padding-left:9%;
}
 .fourest table .radiTxt {
    text-align: center;
    width: 14%;
}
 .srollTwo {
    height: 636px;
}
 .tableScroll {
    height: 548px;
}
.mCSB_inside > .mCSB_container{
	margin-right:0 !important;
}
 .mgadgst {
    width: 94.5% !important;

}
 .threeest .smallText{
	font-size:14px;
	color:#747474;
}
 .aTwo {
    font-size: 14px;
    color: #0c0c0c;
	line-height:22px;
}
 .aRight{
	padding-left:14px;
}
 .addtr{
	width:91.6% !important;
}
.MapPop{
	position:fixed;
	top:50%;
	left:12%;
	margin-top:-250px;
}
.mainRightMap{
	position: fixed;
    top:10%;
   	right: 3%;
}
.fiveCntz .statusPopOne {
	display: block ;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff !important;
}
.mCSB_scrollTools .mCSB_dragger {
    background-color: #e3e3e3 !important;
    opacity: 1 !important;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #e3e3e3;
    opacity: 1 !important;
    width: 12px;
}
.mCSB_draggerRail {
    background-color: #fff !important;
    position: relative;
    opacity: 1 !important;
    width: 6px !important;
}
.mCSB_dragger_bar {
    width: 6px !important;
    opacity: 1 !important;
    webkit-border-radius: 100px !important;
    -moz-border-radius: 0px !important;
    border-radius: 10px !important;
    height: 50%;
}
.mCSB_scrollTools {
    opacity: 1 !important;
}
.statusPopOne {
    display: none;
    position: fixed;
    top: 155px;
    width:610px;
	right:10.1%;
    background: #fff;
    -webkit-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    box-shadow: 0 10px 32px 4px rgba(0,0,0,.2);
    border-radius: 10px;
    PADDING: 45PX 35PX;
	height:432px;
	
}
.statusPopOne .statusPop {
	width:610px !important;
	box-shadow:none !important;
	border-radius:0;
	padding:0;
	position: absolute;
    top: 44px;
    width: 610px;
    left: 0;
    right: 0;
	margin:0 auto;
}
.fiveCntz  .arrow-up {
    top: -61px;
    left: 138px;
}
.fiveCntz .closez {
    width: 11px;
    position: absolute;
    right: -15px;
    top: -26px;
    cursor: pointer;
}
.tdText{
	font-size: 14px;
    color: #141414;
	display:none;
}
.scroll, .tableScroll{
	width:100%;
}
.MapPop .boxMain {
	background:rgba(255,255,255,.9);
}
@media only screen and (max-width: 1750px) {
     .rightmap li a {
        padding: 0px 16px;
    }
}