@charset "utf-8";
/* CSS Document */
.containerStatus .statusMain{
	padding-top:120px;
}
.statusMainRight {
	padding-left:50px;
}
.statusMainInSec {
	background: #f4f4f4;
    
    position: fixed;
    width:100%;
    top: 71px;
}
.statusMainInSecOne{
	padding: 12px 0px 12px 57px;
}
.statusMainInSec h1 {
	align-items:center;
	color:#696969;
	font-size:14px;
    margin: 0 0 0;
    text-align: left;
}
.statusMainInSec .niceOne {
	margin:1px 1% 1px 0;
}
.statusMainInSec .nice-select {
	    width: 180px;
}
.statusMainInSec button{
	display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #b2b2b2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 6px rgba(38,18,1,.12);
    -moz-box-shadow: 0 4px 6px rgba(38,18,1,.12);
    box-shadow: 0 4px 6px rgba(38,18,1,.12);
}
.statusMainInSec .statusLoad {
	display:inline-block;
	width:14px;
	margin-right:17px;
	float:left;
}
button.fl.btn {
	margin-top:7%;
   margin-right: 0;
}
.statusMainInSec button.lastButton{
	margin-top:7%;
    margin-right: 10px;
}
.statusMainInSec ul li{
	float:left;
	color:#747474;
	font-size:14px;
	padding:5px 0;
}
.cv3 {
    width: 25%;
    float: right;
}
.cov-1 {
    width: 75%;
    float: left;
}
.statusBottom {
	margin: 0px 0px;
}
.statusMain1 .fr {
    padding: 20px;
}
.clearfloat.pagination {
    margin-left: 20px;
}
.statusBottom .radioTop label{
	color:#747474;
	font-size:14px;
}
.statusBottom table{
	width:100%;
	margin:25px 0 20px 0;
}
.statusBottom table th:hover{
background: #26dd26;
}
.statusBottom table th{
	padding: 20px 0;
    color: #ffffff;
    background: #000;
    font-size: 18px;
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #ccc;
}
.statusBottom table thead{
	border-bottom:2px solid #c9c9c9;
}
.statusBottom table td{
	    padding: 18px 0;
    color: #0c0c0c;
    font-size: 14px;
    padding-left: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
.paginationLeft {
	margin-left: 30px;
}
.statusBottom table tbody tr{
	border-bottom:1px solid #d5d5d5;
}
.statusBottom table tbody tr:last-child{
	border-bottom:0;
}
.statusBottom table td:nth-child(12){
	color:#4a46ff;
}
.statusBottom table td:nth-child(13){
	color:#4a46ff;
}
.statusBottom table tbody tr:hover{
	background:#f1fef6;
	cursor:pointer;
}
.paginationLeft h1 {
	color:#141414;
	font-size:12px;
	margin:10px 5px 10px 0;
}
.niceTwo .nice-select{
	width: 77px;
    height: 33px;
    line-height: 33px;
    background: #fff url(../images/statusarrowone.png) no-repeat 92% 50%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	margin-right:5px;
	border:1px solid #9a9a9a;
	z-index:1;
}
.niceTwo .nice-select input {
	width:72%;
    height: 14px;
    line-height: normal;
    border: 0;
    outline: 0;
    background: none;
    font-size: 12px;
    color: #141414;
    cursor: pointer;
    padding: 10px 0px 10px 23px;
}
.niceTwo {
	display:flex;
	align-items:center;
	margin-right:25px;
}
.pagination .paginationRight li {
	float:left;
	color:#6a6a6a;
	font-size:12px;
	padding:10px 14px;
	border:1px solid #d3d3d3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-right:-1px;
}
.paginationRight li:first-child,
.paginationRight li:last-child {
	width:73px;
	text-align:center;
	padding:10px 0px;
}
.paginationRight li span{
	display:inline-block;
	width:10px;
	vertical-align:middle;
	margin:-4px 9px 0 0;
}
.paginationRight li:last-child span{
	margin:-4px 0px 0 9px;
}
.paginationRight li:hover {
	border-color:#0beb6a;
	z-index:10;
	position:relative;
	cursor:pointer;
}
.paginationRight li.active {
	border-color:#0beb6a;
	z-index:10;
	position:relative;
	cursor:pointer;
}
/*popup starts*/
.MapPop {
	display:none;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
	z-index:10000;
	background:rgba(23,22,22,.9);
}
.mainBox  {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    margin-top: -250px
}
.containerStatus .markBtn{
	margin-top:46%;
}
.mainTwo {
	display:none;
}
.mainThree {
	display:none;
}

	